.containerBody {
    width: 84vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    bottom: 0px;
    padding: 2rem;
    overflow-y: scroll;
}

h1 {
    font-weight: 700;
    margin: 20px 0;
}

.containerTop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.btn {
    background-color: var(--buttonColor);
    padding: 10px;
    color: #fff;
    max-height: 50px;
    border: none;
    cursor: pointer;
}

.inputButton {
    background-color: var(--buttonColor);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 700;
    margin: 20px 0;
    width: 200px;
    height: 50px;
    font-size: 1rem;
}
