.containerForm {
    background-color: #fff;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.containerFormSearch {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
}

/*
p {
    width: 100%;
    font-size: 18px;
    font-weight: 700;
}
*/
