/*.formInput {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
    width: auto;
}

.labelForm {
    color: #000;
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: 700;
    margin-bottom: 3px;
}

.inputForm {
    padding: 10px;
    border-radius: 2px;
    border: 1px solid var(--primaryColor);
    background-color: var(--primaryColor);
    width: 150px;
}

span{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

input:invalid[focused="true"] {
    border: 1px solid red;
}

input:invalid[focused="true"] ~ span {
    display: block;
}*/