.tablepag {
    background-color: aqua;
}

/*table {
    background-color: rgb(200, 218, 230);
    width: 100%;
    margin-top: 5px;
    text-align: left;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid;
    padding: 10px;
}

tr:last-child td {
    border-bottom: none;
}

.active {
    background-color: chartreuse;
    border-radius: 10px;
    font-size: 14px;
    width: 25%;
    padding: 2px;
    text-align: center;
}

.nonActive {
    background-color: rgb(202, 21, 21);
    border-radius: 10px;
    font-size: 14px;
    width: 25%;
    padding: 2px;
    text-align: center;
}*/